<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>

<body>

<nav th:replace="fragments :: page-header-menu(contact)"></nav>

<div th:replace="fragments :: messages"></div>

<div th:replace="fragments :: title"></div>

<main class="container" id="contact">

    <div class="row justify-content-center tip-text text-muted">
        <p>Congratulations, you're on your way to a Car Pool connection!<br/>
            Add your phone number or additional contact details to the message if you'd
            like. Then just click Send.</p>
    </div>

    <form method="post" th:action="@{/contact/{userid}(userid=${emailForm.toUser.uid})}" th:object="${emailForm}">
        <div class="row contact-content">

            <div class="col-md">

                <div class="form-group">
                    <label th:for="toUser">To:</label>
                    <input class="form-control form-control-plaintext" th:field="*{toUser.username}" disabled="disabled"/>
                    <div class="error" th:errors="*{toUser}"></div>
                </div>
                <div class="form-group">
                    <label th:for="fromUser">From:</label>
                    <input class="form-control form-control-plaintext" th:field="*{fromUser.username}" disabled="disabled"/>
                    <div class="error" th:errors="*{fromUser}"></div>
                </div>
                <div class="form-group">
                    <label th:for="message">Message</label>
                    <textarea class="form-control" th:field="*{message}" required="required" autofocus="autofocus"/></textarea>
                    <div class="error" th:errors="*{message}"></div>
                </div>

            </div>

        </div>
        <div class="row justify-content-center">

            <div class="col-2">
                    <input type="submit" value="Send" class="btn btn-primary" />
            </div>
            <div class="col-2">
                <a href="javascript:history.back()">Cancel</a>
            </div>

            </div>
        </div>
    </form>
</main>

<footer th:replace="fragments :: page-footer"></footer>

</body>
</html>