<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link th:href="@{/css/carpoolmatch.css}" rel="stylesheet" />

    <title th:text="'Carpool Match' + ${title == null ? '' : ' :: ' + title}">Carpool Match</title>
</head>

<body>

    <div th:fragment="title" class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 th:text="${title}">Default Title</h1>
            </div>
        </div>
    </div>

    <nav th:fragment="page-header-no-menu" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Carpool Match</a>
        </div>
    </nav>

    <nav th:fragment="page-header-login" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Carpool Match</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin" aria-controls="navbarLogin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLogin">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}"><strong>DON'T HAVE AN ACCOUNT? </strong>Join Here</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav th:fragment="page-header-menu" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Carpool Match</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profile}">Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/preferences}">Preferences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/match}">Match</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                        <a class="nav-link" href="#" onclick="document.logoutForm.submit()">Log Out</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}">Log In</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div th:fragment="messages" class="container-fluid" id="message-ribbon-top">
        <div th:if="${message != null}"
             th:with="parts=${#strings.arraySplit(message, '|')}"
             th:attr="class=${'alert alert-dismissible alert-' + parts[0]}"
             role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div th:text="${parts[1]}"></div>
        </div>
    </div>

    <footer th:fragment="page-footer" class="footer">
        <div class="container">
            <span class="text-muted small">Made with pride and copyright &copy;2019 <a href="https://moventisusa.com">Moventis, LLC</a></span>
        </div>
        <!-- Bootstrap script -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </footer>

</body>
</html>