<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link th:href="@{/css/carpoolmatch.css}" rel="stylesheet" />

    <title th:text="'Carpool Match' + ${title == null ? '' : ' :: ' + title}">Carpool Match</title>
</head>

<body>

    <div th:fragment="title" id="page-title" class="container">
        <div class="row">
            <div class="col-md text-center">
                <h1 th:text="${title}">Default Title</h1>
            </div>
        </div>
    </div>

    <nav th:fragment="page-header-no-menu" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Carpool Match</a>

            <div class="collapse navbar-collapse" id="navbar-no-menu">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                        <a class="nav-link" href="#" onclick="document.logoutForm.submit()">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav th:fragment="page-header-login" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Carpool Match</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin" aria-controls="navbarLogin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLogin">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}"><strong>DON'T HAVE AN ACCOUNT? </strong>Join Here</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav th:fragment="page-header-menu(activeTab)" class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Carpool Match</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item"  th:classappend="${activeTab == 'profile'}? 'active' : ''">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'preferences'}? 'active' : ''">
                        <a class="nav-link" th:href="@{/preferences}">Preferences</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'match'}? 'active' : ''">
                        <a class="nav-link" th:href="@{/match}">Match</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                        <a class="nav-link" href="#" onclick="document.logoutForm.submit()">Log Out</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}">Log In</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div th:fragment="messages" class="container-fluid" id="message-ribbon-top">
        <div th:if="${message != null}"
             th:with="parts=${#strings.arraySplit(message, '|')}"
             th:attr="class=${'alert alert-dismissible alert-' + parts[0]}"
             role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div th:text="${parts[1]}"></div>
        </div>
    </div>

    <footer th:fragment="page-footer" class="footer">
        <div class="container">
            <span class="text-muted small">Made with pride and copyright &copy;2019 <a href="https://moventisusa.com">Moventis, LLC</a></span>
        </div>
        <!-- Bootstrap script -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </footer>

    <div th:fragment="user-preferences">

        <div class="form-group row">
            <div class="col-md-4">
                <legend>What I can offer:</legend>
            </div>
            <div class="col-md">
                <div class="custom-control custom-radio">
                    <div th:each="rT : ${T(com.moventisusa.carpoolmatch.models.RideType).values()}" class="custom-control-inline">
                        <input class="custom-control-input" type="radio" th:id="${{rT}}" th:value="${{rT}}" th:field="*{rideType}" required="required"/>
                        <label class="custom-control-label" th:for="${{rT}}" th:text="${rT.description}">Ride Type</label>
                    </div>
                </div>
            </div>
            <div class="error" th:errors="*{rideType}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label th:for="matchDistance">Distance from carpool match</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" th:field="*{matchDistance}" placeholder="Distance (in miles)"/>
            </div>
            <div class="error" th:errors="*{matchDistance}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <legend>Days I am available:</legend>
            </div>
            <div class="col-md">

                <div class="custom-control custom-checkbox">
                    <div th:each="day : ${daysAvailableList}" class="checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" name="daysAvailableUpdate" th:checked="${day.available}" th:value="${day.day}" th:id="${day.day}"/>
                        <label class="custom-control-label" th:for="${day.day}" th:text="${day.day}">Day</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label th:for="dropoffTime">Time I leave for school dropoff</label>
            </div>
            <div class="col-md-4">
                <input type="time" class="form-control" th:field="*{{dropoffTime}}" th:value="*{{dropoffTime}}"  />
            </div>
            <div class="error" th:errors="*{dropoffTime}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label th:for="pickupTime">Time I can pick up at school</label>
            </div>
            <div class="col-md-4">
                <input type="time" class="form-control" th:field="*{{pickupTime}}" th:value="*{{pickupTime}}"  />
            </div>
            <div class="error" th:errors="*{pickupTime}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label th:for="seatsAvailable">No. of seats I have</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" th:field="*{seatsAvailable}" placeholder="Blank for no preference" type="number" step="1" pattern="[0-9]*" title="Enter a whole number"/>
            </div>
            <div class="error" th:errors="*{seatsAvailable}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label th:for="seatsNeeded">No. of seats I need</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" th:field="*{seatsNeeded}" placeholder="Blank for no preference"  type="number" step="1" pattern="[0-9]*" title="Enter a whole number"/>
            </div>
            <div class="error" th:errors="*{seatsNeeded}"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label>No Smoking</label>
            </div>
            <div class="col-md-4">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" th:field="*{noSmoking}" />
                    <label class="custom-control-label" th:for="noSmoking"></label>
                </div>
            </div>
            <div class="error" th:errors="*{noSmoking}"></div>

        </div>

        <div class="shaded-box bg-light">
            <div class="form-group row">
                <div class="col-md">
                    <legend>Compensation <i class="text-muted small">(always optional)</i></legend>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label th:for="payToOtherDriver">If I am a rider only, I can pay up to $</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" th:field="*{payToOtherDriver}" placeholder="$N.NN, dollar sign is optional" type="text" pattern="^(\$[0-9]+\.?[0-9]*)|([0-9]*\.[0-9]+)|([0-9]*)$" title="Enter dollars and cents with optional $"/><span> per ride.</span>
                </div>
                <div class="error" th:errors="*{payToOtherDriver}"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label th:for="payFromOtherRider">If I am a driver only, I would like $</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" th:field="*{payFromOtherRider}" placeholder="$N.NN, dollar sign is optional" pattern="^(\$[0-9]+\.?[0-9]*)|([0-9]*\.[0-9]+)|([0-9]*)$" title="Enter dollars and cents with optional $" /><span> per ride.</span>
                </div>
                <div class="error" th:errors="*{payFromOtherRider}"></div>
            </div>
        </div>
    </div>
</body>
</html>