<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<nav th:replace="fragments :: page-header-menu"></nav>

<div th:replace="fragments :: messages"></div>

<div th:replace="fragments :: title"></div>

<main class="container-fluid" id="match">
    <form method="post" th:action="@{/match}" th:object="${matchedUsers}">

        <div class="row">
            <div class="col-md-3">
                <p>The List</p>
                <div th:each="matchedUser : ${matchedUsers}" class="matched-users">
                    <p class="matched-username" th:text="${matchedUser.user.username}">Username</p>
                    <p class="testing" th:text="${matchedUser.matchTotal}">Total</p>
                    <p><a class="matchedUser-view" th:href="@{/view/{userid}(userid=${matchedUser.user.uid})}" th:text="${'Click to view details and contact ' + matchedUser.user.username}">View details</a></p>
                    <ul class="matched-criterium" th:each="match : ${matchedUser.matchDetail}">
                        <li th:text="${match.key}">Criterium</li>
                    </ul>
                </div>

            </div>
            <div class="col-md">
                <p>The Map</p>
                <img class="matched-map" th:src="${mapImage}">

            </div>
        </div>

    </form>

</main>

<footer th:replace="fragments :: page-footer"></footer>

</body>
</html>