<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<nav th:replace="fragments :: page-header-menu"></nav>

<div th:replace="fragments :: messages"></div>

<div th:replace="fragments :: title"></div>

<main class="container" id="view">

        <div class="row">

            <div class="col-md-3 view-match-user" th:object="${user}">
                <h2 th:text="*{username}">Username</h2>
                <p><a th:href="@{/contact/{userid}(userid=*{uid})}">Contact Me!</a></p>
            </div>


            <fieldset disabled="disabled">

            <div class="col-md view-match-details" th:object="${user.matchCriteria}">

                <div th:replace="fragments :: user-preferences"></div>

            </div>

            </fieldset>

        </div>

</main>

<footer th:replace="fragments :: page-footer"></footer>

</body>
</html>